# EditorConfig is awesome: https://EditorConfig.org
# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs

# top-most EditorConfig file
root = true

[*]                                 # 全ファイル共通の設定(上書き可)
charset = utf-8                     # 文字コードを UTF-8 とする
end_of_line = lf                    # 改行コードを LF とする
indent_size = 4                     # インデント幅を 4 とする
indent_style = tab                  # インデントをタブで行う
insert_final_newline = true         # ファイル末尾に改行を入れる
max_line_length = 100
trim_trailing_whitespace = true     # 行末の空白を削除する

[*.md]
# double whitespace at end of line
# denotes a line break in Markdown
indent_style = space
trim_trailing_whitespace = false

[*.{py,toml,cfg,ini}]               # .py ファイルのみに適用する設定
indent_size = 4                     # インデント幅を 4 とする

[*.rs]
indent_style = space

[*.{yml,yaml}]
indent_style = space
indent_size = 2
